:root {
  --color-dark-blue: hsl(250, 68%, 27%);
  --color-blue: hsl(223, 100%, 57%);
  --color-white: hsl(0, 0%, 100%);
  --color-black: hsl(0, 0%, 0%);
  --color-purple-200: hsl(250, 35%, 62%);

  --gradient-button: linear-gradient(to bottom, #fe71fe, #7199ff);
  --gradient-button-hover: linear-gradient(to bottom, #fe71fe, #b0c5fc);

  --gradient-menu: linear-gradient(
    to bottom,
    hsla(230, 56%, 47%, 100%),
    hsla(230, 100%, 24%, 83%)
  );
  --gradient-heading: linear-gradient(
    to bottom,
    hsl(209, 100%, 70%),
    hsl(0, 0%, 100%)
  );

  --ff-default: "Mouse Memoirs", sans-serif;

  --heading-XL: 136px;
  --heading-L: 88px;
  --heading-M: 48px;
  --heading-S: 32px;

  --fz-body: 26px;
  --fz-24: 24px;
  --fz-22: 22px;
  --fz-20: 20px;
  --fz-18: 18px;
  --fz-16: 16px;
  --fz-14: 14px;
  --fz-13: 13px;
  --fz-12: 12px;
  --fz-11: 11px;
  --fz-10: 10px;
}
